@using Calena.Models;
@{
    ViewBag.Title = "Index";
}

 <!--Page Title-->
<section class="page-title" style="background-image:url(images/background/2.jpg)">
    <div class="auto-container">
        <h1>Portfolio Details</h1>
        <ul class="bread-crumb clearfix">
            <li><a href="@Url.Action("index","home")">Home</a></li>
            <li class="active">Portfolio Details</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Project Single Section-->
<section class="project-single-section">
    <div class="auto-container">
@foreach (Project item in ViewBag.projoct)
{
        <!--Gallery Section-->
        <div class="gallery-section">
            <div class="row clearfix">
     
                <div class="column col-md-4 col-sm-4 col-xs-12">
                    <div class="image">
                        <img src="~/Updates/@item.ProfilePhoto" alt="" />
                    </div>
                </div>
                <div class="column col-md-8 col-sm-8 col-xs-12">
                    <div class="image">
                        <img src="~/Updates/@item.SeconderyPhoto" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="project-content">
            <div class="row clearfix">
                <!--Info Column-->
                <div class="info-column col-md-4 col-sm-12 col-xs-12">
                    <ul>
                       
                            <li>Projects Category:<span>@item.Catigory.Name</span></li>
                            <li>Release Date:<span>@item.Date.Value.ToString("dd-MMMM-yyyy")</span></li>
                            <li>Author: <span>@item.Author</span></li>
                            <li>Website: <span>@item.Website</span></li>
                            <li>Client: <span>@item.Cilient</span></li>
                       
                       
                        
                      
                       
                        
                    </ul>
                    <a href="@Url.Action("index","projects")" class="theme-btn btn-style-one">view project</a>
                </div>
                <!--Detail Column-->
                <div class="detail-column col-md-8 col-sm-12 col-xs-12">
                    <h3>@item.Title</h3>
                    <div class="bold-text">Magna aliqua enimad minys veniam quis nosar exercitation ullamco laboris nisi aliquip comd sed consequat duis aute rure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                    <div class="text">
                        @item.Text
                    </div>
                </div>
            </div>
        </div>
}
    </div>
</section>
<!--End Project Single Section-->
<!--Related Projects-->
<section class="related-projects">
    <div class="sec-title centered">
        <h2>Related <span>Projects</span></h2>
    </div>
    
        @foreach (Project item in ViewBag.projoct)
        {
            <div class="five-item-carousel owl-carousel owl-theme">
                <!--Gallery Block Two-->
                <div class="gallery-block-two">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/Updates/@item.Catigory.Photo" alt="" />
                            <div class="overlay-box">
                                <div class="content clearfix">
                                    <h3><a href="@Url.Action("index","projectssingle")">Minimal Desk Design</a></h3>
                                    <div class="category">photography</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


                <!--Gallery Block Two-->






           
</section>
<!--End Related Projects-->
<!--Subscribe Section-->
<section class="subscribe-section grey-bg">
    <div class="auto-container">
        <div class="inner-section">
            <div class="row clearfix">
                <div class="title-column col-md-4 col-sm-12 col-xs-12">
                    <h2>Subscribe to Newsletter</h2>
                </div>
                <div class="form-column col-md-8 col-sm-12 col-xs-12">

                    <!--Subscribe Section-->
                    <div class="subscribe-form">
                        <form method="post" action="http://t.commonsupport.com/calena/contact.html">
                            <div class="row clearfix">
                                <!--Column-->
                                <div class="column col-md-9 col-sm-12 col-xs-12">
                                    <div class="row clearfix">
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="name" value="" placeholder="Your Name" required>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="email" name="email" value="" placeholder="Email address" required>
                                        </div>
                                    </div>
                                </div>
                                <!--Column-->
                                <div class="column col-md-3 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <button type="submit" class="theme-btn btn-style-one">subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Subscribe Section-->

