<!DOCTYPE html>
<html>

<!-- Mirrored from t.commonsupport.com/calena/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Dec 2017 05:48:05 GMT -->
<head>
    <meta charset="utf-8">
    <title>Calena HTML Template | Homepage One</title>
    <!-- Stylesheets -->
    <link href="~/Public/css/bootstrap.css" rel="stylesheet">
    <link href="~/Public/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
    <link href="~/Public/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="~/Public/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
    <link href="~/Public/css/style.css" rel="stylesheet">
    <link href="~/Public/css/responsive.css" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="~/Public/css/color-themes/default-theme.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/Public/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/Public/images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloader -->
       

        <!-- Main Header-->
        <header class="main-header">

            <!-- Main Box -->
            <div class="main-box">
                <div class="auto-container">
                    <div class="outer-container clearfix">

                        <!--Logo Box-->
                        <div class="logo-box">
                            <div class="logo"><a href="index.html"><img src="~/Public/images/logo.png" alt=""></a></div>
                        </div>

                        <!--Nav Outer-->
                        <div class="nav-outer clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu">
                                <div class="navbar-header">
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="current"><a href="@Url.Action("index","home")">Home</a></li>
                                        <li><a href="@Url.Action("index","About")">About Us</a></li>
                                        <li><a href="@Url.Action("index","Services")">Services</a></li>
                                        <li><a href="@Url.Action("index","Projects")">Projects</a></li>
                                        <li><a href="@Url.Action("index","Blog")">Blog</a></li>
                                        <li><a href="@Url.Action("index", "contact")">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                            <!-- Main Menu End-->

                        </div>
                        <!--Nav Outer End-->
                        <!--Number-->
                        <div class="number">call us 1.369.741.2580</div>

                    </div>
                </div>
            </div>

        </header>
        @RenderBody();
        <!--End Main Header -->
        <!--Main Footer-->
        <section class="main-footer">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Logo Column-->
                    <div class="logo-column col-md-6 col-sm-6 col-xs-12">
                        <div class="logo">
                            <a href="@Url.Action("index","home")"><img src="~/Public/images/footer-logo.png" alt="" /></a>
                        </div>
                        <div class="copyright">&copy; Copyrights 2017 All rights reserved.</div>
                    </div>
                    <!--Info Column-->
                    <div class="info-column col-md-6 col-sm-6 col-xs-12">
                        <ul class="info-list">
                            <li>CALL. 1.369.741.2580</li>
                            <li>EMAIL. support@calena.net</li>
                        </ul>
                        <ul class="social-icon-one">
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Main Footer-->

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

    <!-- Color Palate / Color Switcher -->
    <div class="color-palate">
        <div class="color-trigger">
            <i class="fa fa-gear"></i>
        </div>
        <div class="color-palate-head">
            <h6>Choose Your Color</h6>
        </div>
        <div class="various-color clearfix">
            <div class="colors-list">
                <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
                <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
                <span class="palate maroon-color" data-theme-file="css/color-themes/maroon-theme.css"></span>
                <span class="palate navy-color" data-theme-file="css/color-themes/navy-theme.css"></span>
                <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
                <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
                <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
                <span class="palate red-color" data-theme-file="css/color-themes/red-theme.css"></span>
            </div>
        </div>

        <div class="palate-foo">
            <span>You can easily change and switch the colors.</span>
        </div>

    </div>
    <!-- /.End Of Color Palate -->


    <script src="~/Public/js/jquery.js"></script>
    <!--Revolution Slider-->
    <script src="~/Public/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Public/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Public/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Public/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Public/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Public/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Public/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Public/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Public/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Public/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Public/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Public/js/main-slider-script.js"></script>

    <script src="~/Public/js/bootstrap.min.js"></script>
    <script src="~/Public/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Public/js/jquery.fancybox.pack.js"></script>
    <script src="~/Public/js/jquery.fancybox-media.js"></script>
    <script src="~/Public/js/owl.js"></script>
    <script src="~/Public/js/mixitup.js"></script>
    <script src="~/Public/js/wow.js"></script>
    <script src="~/Public/js/appear.js"></script>
    <script src="~/Public/js/script.js"></script>


</body>

<!-- Mirrored from t.commonsupport.com/calena/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Dec 2017 05:48:37 GMT -->
</html>